<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
            form {
                 background-color: lightblue;
                 padding: 20px;
                 margin: 0 auto;
                 width: 700px;
                 font: 16px sans-serif;
                 border-radius: 5px;
            }
            p {
                font: 14px lightgray;
            }
        </style>
    </head>
    <body>
        
        {% block content %}
        {% endblock %}

    </body>
</html>
